.container
  %h2 Run a simulation
  to calculate #{link_to @variable.name, @variable}

  = form_tag("/simulations", method: "post") do
    /# the variable we are calculating
    = hidden_field_tag(:variable, @variable.name)

    .form-group
      = label_tag(:period)
      = text_field_tag(:period, '2019-03', placeholder: 'e.g. 2019-03',
        class: 'form-control')

    %h3 Person One
    - variable.variables.each do |child|
      - if child.value_type.name == 'Boolean'
        .form-check
          = check_box_tag("persons[one][#{child.name}]")
          = label_tag("persons[one][#{child.name}]", child.name)
          %small=child.description
      - elsif child.value_type.name = 'Int'
        .form-group
          = label_tag("persons[one][#{child.name}]", child.name)
          = text_field_tag("persons[one][#{child.name}]", nil)
          %small=child.description
      - else
        = child.value_type.name
        not supported yet
    = submit_tag("Calculate", class: 'btn')
