.container
  .card-columns
    - @entities.each do |entity|
      .card.w-33
        .card-body
          %h5.card-title
            = link_to entity.description, entity
          = render 'badges', entity: entity
          %p.card-text
            = render_markdown(entity.documentation) if entity.documentation.present?
          %h5 Example variables
          %ul.list-group.list-group-flush
            - entity.variables.limit(5).order("RANDOM()").each do |v|
              %li.list-group-item
                = t v.namespace
                = link_to v.description, v
