%ul.side-nav.list-stripped
  %li= link_to t(:what_is_raputure), '#q1'
  %li= link_to t(:what_is_legislation_of_code)
  %li= link_to t(:how_to_use_rapu_ture), '#q3'
  %li= link_to t(:how_to_contribute)
  %li= link_to t(:contact_us)
