%main
  .container
    .row
      .col-lg-3
        %ul.side-nav
          %li= link_to "What is Rapu Ture?", "#q1"
          %li= link_to "What is Legislation of Code?"
          %li= link_to "How to use Rapu Ture", "#q3"
          %li= link_to "How to contribute"
          %li= link_to "Contact Us"
      .col-lg-9
        %section.section
          %h1.heading What is Rapu Ture?
          %h2.heading-secondary Rapu Ture is an API library that lets you explore and call legislative rules.

          %dl
            %dt#q1 What is Legislation as Code?
            %dd Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit at incidunt accusamus. Explicabo consequuntur et voluptatum sint omnis vel tempore assumenda, quaerat cum reiciendis quibusdam, autem maiores ab beatae libero!


            %dt How to use Rapu Ture
            %dd Lorem, ipsum dolor sit amet consectetur adipisicing elit. Asperiores minus voluptatum totam quibusdam veniam? Harum, quo asperiores corrupti praesentium recusandae vel doloremque sapiente adipisci necessitatibus doloribus accusantium, delectus minima deleniti.


            %dt How to contribute
            %dd Lorem ipsum, dolor sit amet consectetur adipisicing elit. Beatae maxime, perspiciatis dignissimos iste repudiandae odio nulla numquam alias ea minima. Voluptatibus, fugit! Facilis suscipit dolore repellat, mollitia soluta nulla neque.


            %dt Contact Us
            %dd Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum nulla expedita illum maxime iure praesentium voluptatem odit ad tenetur iste officiis, animi explicabo cumque impedit inventore, quisquam possimus vero qui.
