%hr/
%h2 Outputs
.card-columns
  - @scenario.outputs.each do |name, value1|
    .card
      .card-body
        - vari = variables.select { |variable| variable['name'] == name }.first
        - if value1.is_a? Enumerable
          %h4.card-title
            = link_to vari.description, vari || name
          - value1.each do |key, value2|
            %ul
              %li
                %h5
                  #{key}:
                  - if value2.class == Array
                    - value2.each do |value3|
                      #{value3}$
                  - else
                    #{value2}$
        - else
          %h6.card-title= link_to vari.description, vari || name
