- @scenario.outputs.each do |name, value|
  .card
    - if value.class == Array
      .card-header 🤖 #{link_if_variable(name)}
      .card-body
        %ul.list-group.list-group-flush
          - value.each_with_index.map do |item, key|
            %li.list-group-item
              %strong
                -# assume this is for a person
                = @scenario.input_persons.keys[key]
              .pull-right= item.to_json

    - elsif value.is_a? Enumerable
      .card-header 🤖 #{link_if_variable(name)}
      .card-body
        %ul.list-group.list-group-flush
          - value.each do |key, item|
            %li.list-group-item
              %strong= key
              - if item.class == Array
                %table.pull-right
                  - item.each_with_index.map do |array_item, i|
                    %tr
                      %th{scope: 'row'}= scenario.input_persons.keys[i]
                      %td= array_item.to_json
              - elsif item.is_a? Enumerable
                %table.pull-right
                  - item.each do |key, hash_item|
                    %tr
                      %th=link_if_variable(key)
                      %td=hash_item.to_json
              - else
                .pull-right= item.to_json
    - else
      .card-body
        = link_if_variable(name)
        .pull-right= value.to_json
