%hr/
%i
  %h3 People
.card-columns
  - people.each do |person, attributes|
    .card
      .card-body
        %h4.card-title #{person.humanize} 👤

        %ul.list-group.list-group-flush
          - attributes.each do |name, value1|
            - if variables.size.positive?
              - v = variables.select { |variable| variable['name'] == name }[0]
              %li.list-group-item
                = link_to v, v
                - if value1.class == Hash
                  - value1.map do |key2, value2|
                    %h5.li
                      #{key2}: #{value2}
                - else
                  %tt.pull-right= value1
