%hr/
%i
  %h3 People
.card-columns
  - people.each do |person, attributes|
    .card
      .card-body
        %h4.card-title
          #{person.humanize} 👤
        - attributes.each do |name, value1|
          - v = variables.select { |variable| variable['name'] == name }[0]
          %h5
            = link_to v.description, v
            - if value1.class == Hash
              - value1.map do |key2, value2|
                %h5.li
                  #{key2}: #{value2}
            - else
              ~ #{value1}
