.container
  %h1= @scenario.name
  %hr/
  %h2 Inputs
  - @scenario.inputs.each do |key, value|
    - if key == 'persons'
      = render 'persons', people: value, variables: @variables 
    - elsif key == 'families'
      = render 'families', families: value, variables: @variables 
    - else
      %hr/
      %i
        %h3
          = "#{key.humanize}: "
      - value.each do |key, value|
        .card
          .card-body
            %h4.card-title
              = "#{key.humanize}:"
            - if value.class == Hash || value.class == Array
              - value.each do |key, value|
                = "#{key.humanize}: #{value}"
            - else
              = value
  %hr/
  %i
    %h3 Variables used in this scenario:
  .card
    .card-body
      %ul
        - @variables.each do | v |
          %li
            = link_to v.description, v