- cache variable do
  - if variable.namespace.present?
    %span.badge.badge-primary= t variable.namespace.to_sym

  %span.badge.badge-secondary=variable.value_type.name

  %span.badge.badge-secondary=t variable.spec['definitionPeriod']

  - if variable.entity.present?
    %span.badge.badge-success= link_to t(variable.entity.name), variable.entity

  - if variable.has_formula?
    %span.badge.badge-info= t :formula_included

  - if link_to_count.zero? && link_from_count.zero?
    %span.badge.badge-warning{ 'data-toggle': 'tooltip',
      'data-placement': 'bottom', title: 'Not used by any formula, and has no formula itself' }
      Orphaned
  - else
    %span.badge.badge-dark used #{pluralize link_to_count, 'time'}


  - unless variable.description
    %span.badge.badge-danger{'data-toggle': 'tooltip', 'data-placement': 'bottom', title: 'No label defined for this variable'}= t :label_missing
