- if @filters.selected.size.positive?
  %p
    Current filters
    %ul.selected
      - @filters.selected.each do |namespace|
        %li= link_to namespace, @filters.remove(namespace).path
%p
  Available filters for #{@filters.name}
  %ul.selectable
    - @filters.facet.reject(&:selected).each do |facet_value|
      - namespace = facet_value.entity
      = link_to namespace.present? ? namespace : 'none', @filters.add(namespace).path
      %span.count= "(#{facet_value.count})"