
.container
  - if @namespace_filter.selected.size.positive?
    %h6 Current filters
    %p
      - @namespace_filter.selected.each do |namespace|
        = link_to @namespace_filter.remove(namespace).path do
          = t(namespace.to_sym)
          = fa_icon 'close'

  %h6 Available filters for #{@namespace_filter.name}
  %p
    - @namespace_filter.facet.reject(&:selected).each do |facet_value|
      - if facet_value.entity
        = link_to t(facet_value.entity.to_sym), @namespace_filter.add(facet_value.entity).path
        %span.count= "(#{facet_value.count})"
