%p#notice= notice

.jumbotron
  %h1.display-4 Rapu Ture - Exploring the Rules
  %p.lead= t :variables_explanation
  = link_to 'https://www.digital.govt.nz/blog/global-coverage-of-our-legislation-as-code-work/', class: 'btn btn-primary btn-lg', role: 'button' do
    Learn more

= render 'filters'

.card-columns
  - @variables.each do |variable|
    - cache variable do
      .card
        .card-body
          %h5.card-title= link_to variable.name, variable
          %p.card-text=variable.description
          = render 'badges', variable: variable
