= link_to t(:all_variables), variables_path
|
- if @variable.spec.present? && @variable.spec['references'].present?
  - @variable.spec['references'].each do |ref|
    = link_to t(:reference), ref
    |
- if @variable.spec.present?
  = link_to 'Source Code',  @variable.spec['source']

= link_to t(:view_api), @variable.href

%h1= @variable.name
%p= t :variable_explanation
%h2= @variable.description
%p
  %strong= t :value_type
  = @variable.spec['valueType']
  \.
  %strong=t :default_value
  = @variable.spec['defaultValue']
  %strong=t :entity
  = @variable.spec['entity']
- if @variable.variables.size.positive?
  %h2 References
  %p= t :references_explanation
  = render 'references', variable: @variable
- if @variable.reversed_variables.size.positive?
  %h2=t :referenced_by
  %p=t :referenced_explanation
  %ul
    - @variable.reversed_variables.order(:name).each do |v|
      %li= render 'link', variable: v

- if @variable.has_formula?

  %h2=t :formulas
  %p
    = t :formula_explanation, name: @variable.name
    - @variable.spec['formulas'].each do |d, formula|
      %h3= d
      %pre= display_formula formula['content']
