<%= link_to 'All Variables', variables_path %> |
<%= link_to 'View API/json', @variable.href %> |
<% if @variable.spec.present? && @variable.spec['references'].present? %>
  <% @variable.spec['references'].each do |ref| %>
   <%= link_to 'Reference', ref %> |
  <% end %>
<% end %>
<%= link_to 'Source Code',  @variable.spec['source'] %>

<p id="notice"><%= notice %></p>

<h1><%= @variable.name %></h1>

<p>This is a variable within Aotearoa/New Zealand's Legislation as Code experiment</p>

<h2><%= @variable.description %></h2>

<p>
  <strong>Value type:</strong><%= @variable.spec['valueType'] %>.
  <strong>Default Value:</strong><%= @variable.spec['defaultValue'] %>
  <strong>Entity:</strong><%= @variable.spec['entity'] %>
</p>

<% if @variable.variables.size.positive? %>
  <h2>References</h2>
  <p>To calculate this variable, the following input is used:</p>
  <%= render 'references', variable: @variable %>
<%end%>

<% if @variable.reversed_variables.size.positive? %>
  <h2>Referenced by:</h2>
  <p>This variable is referred to by these other variables in their own calculations</p>
  <ul>
    <%- @variable.reversed_variables.order(:name).each do |v| %>
      <li><%= link_to v.name, v %></li>
    <%end%>
  </ul>
<%end%>

<% if @variable.has_formula? %>
  <h2>Formulas</h2>
  <p>This is the formula used to calculate the value of <%= @variable.name %></p>
  <%- @variable.spec['formulas'].each do |d, formula| %>
    <h3><%= d %></h3>
    <pre><%= display_formula formula['content'] %></pre>
  <% end %>
<% end %>

