<!DOCTYPE html>
<html>
  <head>
    <title>Rapu Ture - Connecting the Rules</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <p>
      <span>Computations powered by
        <a href="https://openfisca.org" target="_blank" rel="noopener"><img alt="OpenFisca" src="https://openfisca.org/img/logo-openfisca.svg" height="24" /></a>,
        whose <a href="https://github.com/openfisca/openfisca-core">source code</a>
        is used under an <a href="https://choosealicense.com/licenses/agpl-3.0/" target="_blank" rel="noopener">AGPL</a> license.
      </span>
    </p>
  </body>
</html>
