!!!
%html
  %head
    %title
      Rapu Ture Connecting the Rules
      = yield :title
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application'
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/


  %body

    =# import alerts here

    - if current_page?(root_url)
      = render 'layouts/explanation'
    - else
      = render 'layouts/sub_header'

    %main
      .btn-nav
        .container
          = link_to t(:explore_by_variables), variables_path, class: 'btn'
          = link_to t(:explore_by_entities), entities_path, class: 'btn'
        .container
          =yield :breadcrumbs


      = yield

  %footer
    .container
      %p
        %span
          Computations powered by
          = succeed ',' do
            %a{href: "https://openfisca.org", rel: "noopener", target: "_blank"}
              %img{alt: "OpenFisca", height: "24", src: "https://openfisca.org/img/logo-openfisca.svg"}/
          %a{href: "https://github.com/openfisca/openfisca-core"} source code
          is used under an
          %a{href: "https://choosealicense.com/licenses/agpl-3.0/", rel: "noopener", target: "_blank"} AGPL license.
