!!!
%html
  %head
    %title
      = t(:rapu_ture_connecting_the_rules)
      = yield :title
    :javascript
      !function(a,b,c,d,e,f,g,h){a.RaygunObject=e,a[e]=a[e]||function(){
      (a[e].o=a[e].o||[]).push(arguments)},f=b.createElement(c),g=b.getElementsByTagName(c)[0],
      f.async=1,f.src=d,g.parentNode.insertBefore(f,g),h=a.onerror,a.onerror=function(b,c,d,f,g){
      h&&h(b,c,d,f,g),g||(g=new Error(b)),a[e].q=a[e].q||[],a[e].q.push({
      e:g})}}(window,document,"script","//cdn.raygun.io/raygun4js/raygun.min.js","rg4js");
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
    -# = javascript_pack_tag 'application'
    %meta{content: "width=device-width, initial-scale=1, shrink-to-fit=no", name: "viewport"}/


  %body

    =# import alerts here

    - if current_page?(root_url)
      = render 'layouts/explanation'
    - else
      = render 'layouts/sub_header'

    %main
      .btn-nav
        .container
          = link_to t(:explore_by_variables), variables_path, class: 'btn'
          = link_to t(:explore_by_entities), entities_path, class: 'btn'
          = link_to t(:explore_by_scenarios), scenarios_path, class: 'btn'
          = link_to t(:explore_by_parameters), parameters_path, class: 'btn'
        .container
          =yield :breadcrumbs


      = yield

  %footer
    .container
      %p
        %span
          = t(:computations_powered_by)
          = succeed ',' do
            %a{href: "https://openfisca.org", rel: "noopener", target: "_blank"}
              %img{alt: "OpenFisca", height: "24", src: "https://openfisca.org/img/logo-openfisca.svg"}/
          %a{href: "https://github.com/openfisca/openfisca-core"} source code
          is used under an
          %a{href: "https://choosealicense.com/licenses/agpl-3.0/", rel: "noopener", target: "_blank"} AGPL license.

  :javascript
    rg4js('apiKey', '5uleq1OMY5GqYWn3VzMyyg');
    rg4js('enableCrashReporting', true);
    rg4js('enablePulse', true);
