.container
  %row
    .col-md-12
      %h2= filename_to_title(@parameter.filename)
      %p= @parameter.description.capitalize
      %p= link_to @parameter.href.match(/https?:\/\/[\S]+/), "#{@parameter.href.match(/https?:\/\/[\S]+/)}"
  .row
    - if !@brackets.nil?
      .col-md-12
        .card
          .card-header
            %h3 Brackets
          = render 'bracket_card', values: @brackets
    - if !@values.nil?
      .col-md-12
        .card
          .card-header
            %h3 Values
          = render 'value_card', values: @values
