.container
  .row
    .col-md-12
      %div
        %h2.heading-inline= filename_to_title(@parameter.filename)
        %span.badge.badge-primary.badge--inline= name_of_act(@parameter.filename)
      %hr
      %section.section--inner-content
        %p= @parameter.description.capitalize
        %footer
          %p
            %span Reference:
            %span= link_to @parameter.href, @parameter.href.to_s
          %p
            %span Github:
            %span= link_to github_file_url(@parameter), github_file_url(@parameter).to_s
  .row
    - unless @brackets.nil?
      = render 'card', name: 'Brackets', card: 'bracket_card', values: @brackets
    - unless @values.nil?
      = render 'card', name: 'Values', card: 'value_card', values: @values
