.container
  %row
    .col-md-12
      %h2= filename_to_title(@parameter.filename)
      %p= @parameter.description.capitalize
      %p= link_to url_from_reference(@parameter.href), "#{url_from_reference(@parameter.href)}"
  .row
    - unless @brackets.nil?
      = render 'card', name: 'Brackets', card: 'bracket_card', values: @brackets
    - unless @values.nil?
      = render 'card', name: 'Values', card: 'value_card', values: @values
